<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Jobeet - Your best job board
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/my/css/main.css') }}" type="text/css" media="all"/>
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src={{ asset('bundles/my/js/search.js') }}></script>
    {% endblock %}
    <link rel="alternate" type="application/atom+xml" title="Latest Jobs"
          href="{{ url('ens_job', {'_format': 'atom'}) }}"/>
    <link rel="shortcut icon" href="{{ asset('bundles/my/images/favicon.ico') }}"/>
</head>
<body>
<div id="container">
    <div id="header">
        <div class="content">
            <h1><a href="{{ path('EnsJobeetBundle_homepage') }}">
                    <img src="{{ asset('bundles/my/images/logo.jpg') }}" alt="Jobeet Job Board"/>
                </a></h1>

            <div id="sub_header">
                <div class="post">
                    <h2>Ask for people</h2>

                    <div>
                        <a href="{{ path('ens_job_new') }}">Post a Job</a>
                    </div>
                </div>

                <div class="search">
                    <h2>Ask for a job</h2>
                    <form action={{ path('my_job_search') }} method="get">
                        <input type="text" name="query" value='{{ app.request.get('query') }}' id="search_keywords"/>
                        <input type="submit" value="search"/>
                        <img id="loader"
                             src={{ asset('bundles/my/images/loader.gif') }} style="vertical-align:middle;display:none;"/>
                        <div class="help">
                            Enter some keywords (city, country, position, ...)
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="job_history">
        Recent viewed jobs:
        <ul>
            {% for job in app.session.get('job_history') %}
                <li>
                    <a href="{{ path('ens_job_show', { 'id': job.id, 'company': job.companyslug, 'location': job.locationslug, 'position': job.positionslug }) }}">{{ job.position }}
                        - {{ job.company }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="content">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
    {% endfor %}

    <div id="footer">
        <div class="content">
          <span class="symfony">
            <img src="{{ asset('bundles/my/images/jobeet-mini.png') }}"/>
            powered by <a href="http://www.symfony.com/">
                  <img src="{{ asset('bundles/my/images/symfony.gif') }}" alt="symfony framework"/>
              </a>
          </span>
            <ul>
                <li><a href="">About Jobeet</a></li>
                <li><a href="">Jobeet API</a></li>
                <li class="last"><a href="{{ path('ens_affiliate_new') }}">Become an affiliate</a></li>
                <li class="feed"><a href="{{ path('ens_job', {'_format': 'atom'}) }}">Full feed</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
