{% extends 'MyBundle::layout.html.twig' %}
 
{% form_theme form _self %}
 
{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="error_list">
                {% for error in errors %}
                    <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}
 
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/my/css/job.css') }}" type="text/css" media="all"/>
{% endblock %}
 
{% block content %}
    <h1>Job creation</h1>
    <form action="{{ path('ens_job_create') }}" method="post" {{ form_enctype(form) }}>
        <table id="job_form">
            <tfoot>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Preview your job"/>
                </td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <th>{{ form_label(form.category) }}</th>
                <td>
                    {{ form_errors(form.category) }}
                    {{ form_widget(form.category) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.type) }}</th>
                <td>
                    {{ form_errors(form.type) }}
                    {{ form_widget(form.type) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.company) }}</th>
                <td>
                    {{ form_errors(form.company) }}
                    {{ form_widget(form.company) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.file) }}</th>
                <td>
                    {{ form_errors(form.file) }}
                    {{ form_widget(form.file) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.url) }}</th>
                <td>
                    {{ form_errors(form.url) }}
                    {{ form_widget(form.url) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.position) }}</th>
                <td>
                    {{ form_errors(form.position) }}
                    {{ form_widget(form.position) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.location) }}</th>
                <td>
                    {{ form_errors(form.location) }}
                    {{ form_widget(form.location) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.description) }}</th>
                <td>
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.how_to_apply) }}</th>
                <td>
                    {{ form_errors(form.how_to_apply) }}
                    {{ form_widget(form.how_to_apply) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.is_public) }}</th>
                <td>
                    {{ form_errors(form.is_public) }}
                    {{ form_widget(form.is_public) }}
                    <br/> Whether the job can also be published on affiliate websites or not.
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.email) }}</th>
                <td>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </td>
            </tr>
            </tbody>
        </table>

        {{ form_rest(form) }}
    </form>
{% endblock %}
