{% extends 'MyBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('bundles/my/css/jobs.css') }} type="text/css" media="all"/>
{% endblock %}

{% block content %}
    <div id="jobs">
        {% include 'MyBundle:Job:list.html.twig' with {'jobs': jobs} %}
    </div>
{% endblock %}
